.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.tokengit.txt
Publica.Rproj
Ignorar/
procesamiento_variables/
API Key de FRED.txt
Nico.R
inputs/excel_de_inputs_maps_base_110826.xlsx
inputs/inputs0.Rda